.pf-circular-dash-css {
  --circular-dash-active: #2dd4bf;
  --circular-dash-inactive: rgb(255 255 255 / 10%);
  --circular-dash-text: rgb(255 255 255 / 95%);
  --circular-dash-size: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

.pf-circular-dash-css__wrapper {
  position: relative;
  width: var(--circular-dash-size);
  height: var(--circular-dash-size);
}

.pf-circular-dash-css__segment {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  transform-origin: center center;
  margin-left: -5px;
  pointer-events: none;
}

.pf-circular-dash-css__pill {
  width: 6px;
  height: 16px;
  border-radius: 3px;
  background: var(--circular-dash-inactive);
  margin: 0 auto;
  transition:
    opacity 0.1s,
    background-color 0.1s;
}

.pf-circular-dash-css__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: var(--circular-dash-text);
}
